---
layout: slide
title: ✨wish
description: micro-volunteering system
slug: wish
categories: slide
status: public
date: 2020-06-01 18:03:16 -0500
permalink: /:categories/:slug/
---

<section>
	<h2>What it is</h2>
	<ul>
		<li  class="fragment">facilitates <tt>needs</tt> and <tt>offers</tt> in a community</li>
		<li  class="fragment">taxonomy is defined by <tt>#tags</tt></li>
		<li  class="fragment">regions are defined by <tt>geofencing</tt></li>
	</ul>
</section>
<section>
	<h2>User stories</h2>
	<ul>
		<h3>1. <a href="#eggs"><tt>#eggs</tt></a></h3>
		<h3>2. <a href="#leftovers"><tt>#leftovers</tt></a></h3>
		<h3>3. <a href="#compost"><tt>#compost</tt></a></h3>
	</ul>
</section>
<section id="eggs">
	<section>
		<picture class="right">{% include wish/eggs1.svg %}</picture>
		<h2><tt>#eggs</tt></h2>
				<p>bob searches for <tt>#eggs</tt> and chooses  an <tt>#offer</tt> nearby.</p>
	</section>
	<section>
			<picture class="right">{% include wish/eggs2.svg %}</picture>
		<h3><tt>#eggs</tt></h3>
				<p>bob enters a private room, is asked for his location and talks with mary</p>
	</section>
	<section>
		<picture class="right">{% include wish/eggs3.svg %}</picture>
		<h3><tt>#eggs</tt></h3>
				<p>mary chooses to <tt>#offer</tt> the <tt>#eggs</tt> to bob, bob decides to <tt>#pickup</tt>.</p>
	
	</section>
		<section>
		<picture class="right">{% include wish/eggs4.svg %}</picture>
		<h3><tt>#eggs</tt></h3>
				<p>after transaction, both bob and mary answer how it went.</p>
		<p>✨wish is then forgotten, along with location and conversation.</p>
	</section>
</section>
<section id="leftovers">
<section id="leftovers">
	<h2><tt>#leftovers</tt></h2>
	<p>Margo made more food than she can eat, and it will go bad.</p>
	<p>She creates a ✨wish to <tt>#offer</tt> her <tt>#leftovers</tt>, with a picture and her location.</p>
</section>
<section id="leftovers">
	<h2><tt>#leftovers</tt></h2>
	<p>Margo made more food than she can eat, and it will go bad.</p>
	<p>She's notified that Jenn is interested.</p>
</section>
<section id="leftovers">
	<h2><tt>#leftovers</tt></h2>
	<p>Jenn and Margo talk for a bit, just enough so Margo chooses her.</p>
	<p>Jenn chooses to <tt>#pickup</tt></p>
</section>
<section id="leftovers">
	<h2><tt>#leftovers</tt></h2>
		<p>after transaction, both Jenn and Margo answer how it went.</p>
		<p>✨wish is then forgotten, along with location and conversation.</p>
</section>
</section>
<section id="compost">
	<h2>3. <tt>#compost</tt></h2>
	xxx
</section>