<div class="event">
  <header>
    <h2>{{ site.data.drawing.VCALENDAR[0].VEVENT[3].SUMMARY }}</h2>
  </header>
  <p class="description">
    {{ site.data.drawing.VCALENDAR[0].VEVENT[3].DESCRIPTION  | newline_to_br }}
  </p>

  <a class="btn brn-primary" href="{{ site.data.drawing.VCALENDAR[0].VEVENT[3]URL;VALUE=URI }}">More
    Info</a>
  <a class="btn brn-primary"
    href="https://www.google.com/maps/search/{{ site.data.drawing.VCALENDAR[0].VEVENT[3].LOCATION  | | cgi_escape }}">View
    in Map</a>
  {{ site.data.drawing.VCALENDAR[0].VEVENT[3]URL;VALUE=URI }}
  {{ site.data.drawing.VCALENDAR[0].VEVENT[3].LOCATION  | newline_to_br }}
</div>