<div class="event wow">
  <header>
    <p class="date">Friday, July 19</p>
    <h2>Title</h2>
  </header>
  <div class="content">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi delectus quisquam ducimus quia, dicta id! Minima
      iure quod consectetur facere.</p>
    <p>Minima placeat deleniti magni consectetur exercitationem? Tempore, quos? Quo et totam laudantium porro asperiores
      sequi dolor, voluptatibus suscipit alias corrupti.</p>
  </div>
  <footer class="actions">
    <p class="time">10pm</p>
    <p class="place">Place</p>
    <a href="#" class="btn btn-primary">View in Map</a>
    <a href="#" class="btn btn-primary">View Original</a>
    <a href="#" class="btn btn-primary">Invite Friend</a>
  </footer>
</div>