<nav id="navigation">
  <div class="item">

    <button class="collapsed" type="button" data-toggle="collapse" data-target="#study" aria-expanded="false"
      aria-controls="study">study</button>
    <div id="study" class="collapse" data-parent="#navigation">
      <ul>
        {% for post in site.categories.study %}
        {% if post.status contains "latest" %}
        <li class="latest cover" style="background-image: url({{'/assets/images/' | prepend: site.baseurl }}{{ post.cover }})"> <a
            href="{{ post.url | prepend: site.baseurl }}">
            <span>Latest:</span>
            <span class="main">{{ post.title }}</span>
            <span class="slogan">{{ post.description }}</span>
          </a>
        </li>
        {% endif %}
         {% if post.status contains "ongoing" %}
        <li class="latest cover" style="background-image: url({{'/assets/images/' | prepend: site.baseurl }}{{ post.cover }})"> <a
            href="{{ post.url | prepend: site.baseurl }}">
            <span>Latest:</span>
            <span class="main">{{ post.title }}</span>
            <span class="slogan">{{ post.description }}</span>
          </a>
        </li>
        {% endif %}
        {% endfor %}
        <li class="previous">
          <p>Previous:</p>
        </li>
        {% for post in site.categories.study %}
        {% if post.status contains "previous" %}
        <li class="previous"> <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>


    </div>

    <div class="item">

      <button class="collapsed" type="button" data-toggle="collapse" data-target="#slide" aria-expanded="false"
        aria-controls="slide">slides</button>


      <div id="slide" class="collapse" aria-labelledby="headingThree" data-parent="#navigation">
        <ul>
          {% for post in site.categories.slide %}
          {% if post.status contains "public" %}
          <li><a href="{{ post.url | prepend: site.baseurl }}" target="slide">
         {{ post.title }}
            <span class="description">{{ post.description }}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="item">

      <button class="collapsed" type="button" data-toggle="collapse" data-target="#article" aria-expanded="false"
        aria-controls="article">articles</button>


      <div id="article" class="collapse" aria-labelledby="headingThree" data-parent="#navigation">
        <ul>
          {% for post in site.categories.article %}
          {% if post.status contains "public" %}
          <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>

       


</nav>