<div class="instructions wow">
  <section>
    <h3>Rules:</h3>
    <p>a book chapter or video {% if page.status contains "latest" %}will be{% else %}was{% endif %} announced to study before the meeting</p>
    <p>a place to discuss {% if page.status contains "latest" %}will be{% else %}was{% endif %} announced</p>
  </section>
<section>
    <h3>Enroll:</h3>
    <p>join our <a href="https://praxis.nyc/signal">signal group</a></p>
    <p>say a quick hi</p>
  </section>
  <section>
    <h3>Also:</h3>
    <p>Free and open to all</p>
    <p>Safe space for queers and PoCs</p>
    <p>If you don’t study the assignment, please make space for those who do</p>
  </section>
</div>