header.week {
  background-color: #fff;
  background-attachment: fixed;
  position: sticky;
  top: -1px;
  z-index: 1200;
  padding: 10px 20px;
  margin-left: -10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 40px;

  p {
    color: $color-1;
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 30px;

    &:after {
      display: none;
    }
  }

  &#mon nav a:not(:first-of-type):not(:hover),
  &#tue nav a:not(:nth-of-type(2)):not(:hover),
  &#wed nav a:not(:nth-of-type(3)):not(:hover),
  &#thu nav a:not(:nth-of-type(4)):not(:hover),
  &#fri nav a:not(:nth-of-type(5)):not(:hover),
  &#sat nav a:not(:nth-of-type(6)):not(:hover),
  &#sun nav a:not(:nth-of-type(7)):not(:hover) {
    background-color: black;
    color: black;
    width: 20px;
    heighT: 20px;
  }

  nav {
    text-align: right;
    margin-top: 10px;

    a {
      background-color: $color-1;
      @include transition;
      display: inline-block;
      text-transform: uppercase;
      width: 30px;
      heighT: 30px;
      color: white;
      text-align: center;
      padding-top: 5px;
      margin-left: -7px;
      text-decoration: none;
      overflow: hidden;

    }



  }
}