header.week {
  background-color: #fff;
  background-attachment: fixed;
  position: sticky;
  top: -1px;
  z-index: 1200;
  padding: 5px 20px;
  margin-left: -10px;
  margin-right: -10px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  nav {
    text-align: right;


  }

  nav a {
    background-color: $color-1;
    @include transition;
    display: inline-block;
    text-transform: uppercase;
    width: 25px;
    color: white;
    heighT: 25px;
    text-align: center;
    font-size: 14px;
    padding-top: 20px;
    margin-left: -9px;
    text-decoration: none;
    overflow: hidden;

  }

  &#mon nav a:not(:first-of-type):not(:hover),
  &#tue nav a:not(:nth-of-type(2)):not(:hover),
  &#wed nav a:not(:nth-of-type(3)):not(:hover),
  &#thu nav a:not(:nth-of-type(4)):not(:hover),
  &#fri nav a:not(:nth-of-type(5)):not(:hover),
  &#sat nav a:not(:nth-of-type(6)):not(:hover),
  &#sun nav a:not(:nth-of-type(7)):not(:hover) {
    background-color: $color-1;
    color: $color-1;
    height: 5px;
  }

}