html:not(.slide) {
  &:before {
    height: $frame;
    background-color: #fff;
    width: 100%;
    display: block;
    content: "";
    position: fixed;
    top: 0;
  }
  &:after {
    height: $frame;
    background-color: #fff;
    width: 100%;
    display: block;
    content: "";
    position: fixed;
    bottom: 0;
  }
  body {
  &:before {
    top: 0;
    height: $frame;
    @include tile(lines-up-c, white, 5px); width: 100%;
    display: block;
    content: "";
    position: fixed;
    z-index: 1000;
  }
  &:after {
    bottom: 0;
    height: $frame;
    @include tile(lines-up-c, white, 5px); width: 100%;
    display: block;
    content: "";
    position: fixed;
    z-index: 1000;
  }
}
}

